<launch>
    <!-- args="추종할 경로 이름" (x_offset) (y_offset)" -->
    <node pkg="scout_ros" type="scout_planner.py" name="planner" args="kw.txt 302465.14949950256 4122644.8831913997" output="screen" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find scout_ros)/rviz/planner.rviz" />
</launch>
